* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 90px;
    height: 1000px;
}

.row {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0;
}

/* Cores de texto */
p, li {
    color: #002;
}

/* Navbar */
.header .navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    z-index: 1000;    
    background-color: white; 
    z-index: 1000;
}

#navbar-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 70px;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    display: flex;
    gap: 15px;
}

.navbar {
    padding: 10px 50px;
}

.navbar-nav a {
    text-decoration: none;
    color: #B22222;
    position: relative;
}

.navbar-nav a:hover{
    color: #B22222;
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #B22222; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.navbar-nav a:hover::after {
    width: 100%; 
}

/* Slide */
.container-fluid {
    padding: 0;
    margin: 0;
}

#mainSlider {
    margin-top: -10px;
    margin-bottom: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

.carousel-item h2 {
    font-size: 50px;
    font-weight: 700;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute; 
    top: 30%;
    left: 0;
    right: 0;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);   
}

.carousel-item p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 100px;
}

.bnt {
    font-size: 19px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: 0.3s ease;
}

.bnt:hover{
    background-color: #B22222;
}

/* SOBRE A RESTAURANTE */
#about{
    background: linear-gradient(to right, #FFCC00, #ce3f0f);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.container-about{
    margin: 0;
}

.main-title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.about-title{
    font-size: 30px;
    margin-bottom: 18px;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
  }

  .col-md-6 img{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }